.box {
	border : solid 2px white;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
}

.center {
	display: flex;
	justify-content: center;
}

.flex-box-vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-box-horizontal {
	display: flex;
}

.flex-justify-content-space-between {
	display: flex;
	justify-content: space-between;
}

.flex-justify-content-end {
	display: flex;
	justify-content: end;
}

.flex-justify-content-space-around {
	display: flex;
	justify-content: space-around;
}

.flex-justify-content-space-start {
	display: flex;
	justify-content: start;
}

.flex-justify-content-center {
	display: flex;
	justify-content: center;
}

.flex-align-items-bottom {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.search-label {
	font-style: italic; 
}

.m-r-10 {
	margin-right: 10px;
}
.m-l-10 {
	margin-left: 10px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m {
	margin: 10px;
}

.p-t-10 {
	padding-top: 20px;
}

.p-t-20 {
	padding-top: 20px;
}
.p {
	padding: 10px;
}

.border-radius {
	border-radius: 5px;
}

.round {
	border-radius: 50%
}

.border-solid {
	border: solid;
}

#img-logo-Lelil {
	padding-left:10px;
	padding-top:10px;
	border-color:white;
	width:100px;
	height: 90px;
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px
}

#container {
	padding-top: 40px;
	padding-left: 50px;
	border-color: transparent;
	position: relative;
}
.width-same-as-container {
	width:inherit;
}

html, body {
	margin: 0;
	height: 100%;
}

#top-half {
	height: 100%;
	position: relative;
}

#bottom-half {
	height: 30px;
	background-color: #C1D344;
	z-index: 3;
}

#form-place {
	position: relative; 
	top: 15%;
}

.background-image {
	position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
	background-image: url(ressources/top-half-bg.jpg);
	background-size: cover;
	height: inherit;
	width: 100%;
	filter: blur(1px);
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 20px;
  margin-right: 20px;
}